.mainName {
  font-size: 34px;
  text-align: left;
  font-family: "Albert Sans";
  margin: 20px 38px;
}
.about-me{
  font-size: 18px;
  text-align: left;
  font-family: "Albert Sans";
}

.footer--pin {
  margin-top: auto;
}

.MyImage {
  height: 160px;
  width: 160px;
  border-radius: 26px;
  transition: transform 0.3s ease;
}
.MyImage:hover {
  transform: scale(1.05);
}
.homepage-section {
  display: flex;
  /* justify-content: center; */
  margin-top: 32px;
}

@media only screen and (max-width: 600px) {
  .mainName {
    margin-top: 8px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .mainBody {
    width: 860px;
  }
  .mainDiv {
    display: flex;
    justify-content: center;
  }
}
