.tagLine{
    font-size: 24px;
}
.introText{
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .introText {
      font-size: 18px;
    }
    .tagLine{
        font-size: 22px;
    }
  }